<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ absolute_url(asset('build/js/app.css'))}}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="col-md-3 col-md-offset-4">
                <img src="{{ asset('build/images/user1.png')}}">
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ absolute_url(asset('build/js/app.js'))}}"></script>
        {% endblock %}
    </body>
</html>
